$primaryCl: #232536; //sayti asosiy rangi (text, description hamasda birxil shu rang)
$secondaryCl: #ffffff;
$btnBg: #444cfc; // button background color
$bgGold: #ffd3af; // och jigarrang background sectionlar uchun
$bgSky: #ecf8f9; // och ko'k background color
$bgBlue: #4f56ff; // to'q ko'k background color
